h1 {
    margin-top: 0;
}

#v65-modalCart {
  position: inherit;
  float: right;
  margin-left: 20px;
}

.small-top {
    padding: 7px 0;
    background: $bodyFontColor;
    & #v65-modalCart {
        float: inherit;
        margin: 15px 0 0;
        color: $white;
        & a {
            color: $white;
        }
    }
}

#user-tools {
  text-align: right;
}

.nav-bar .v65-home {
  display: none;
}

a img {
    border: none;
}

img.v65-featureLeft,
img.v65-featureRight {
  padding: 0;
  border: none;
}

@media only screen and (max-width: 48em) {
  img.v65-featureLeft,
  img.v65-featureRight {
    float: none;
    margin: 0 auto 1em;
    clear: both;
    display: block;
  }
}

.v65-formLeft,
.v65-formRight {
  clear: both;
  float: none;
  margin: 0;
  width: 100%;
}

input[type="text"], 
input[type="password"],
textarea,
select {
  width: 100%;
  max-width: 250px;
}

select {
  max-width: 130px;
}

.v65-clubTeaser {
  margin: 0;
  padding: 0;
  border: none;
}

.v65-calendarList-Event {
  padding-left: 0;
  margin-bottom: 0;
}

ol li {
  margin-bottom: 1em;
}

.v65-product-photo,
.v65-product-relatedProducts-product {
  text-align: left;
}

.v65-recipe-drilldown-related-products,
.v65-paging,
#v65-PagingBottom,
#v65-PagingTop,
.v65-blogPostWrapper {
  border: none;
  margin: 0;
}

.v65-product-addToCart-quantity input {
  width: 30px !important;
}

.v65-product-addToCart-quantity,
.v65-product-addToCart-quantity input {
  display: inline;
}

.v65-recipe-attributeLabel,
.v65-recipe-attributeValue {
  float: none;
  width: 100%;
  text-align: left;
  margin-bottom: .3em;
}

fieldset {
  padding-bottom: 15px;
}

table {
  width: 100%;
}

th {
  padding: 9px 10px;
}

.v65-product-pagination li {
  list-style: none;
  display: inline;
}

.club-creditcard div:first-child,
select,
.billing-info div:first-child,
.username-password div:first-child {
  margin-bottom: 15px;
}

input[name="Username"] {
    @extend input[type="text"];
}


/* Cart */

#v65-continueOrder {
    width: inherit;
}

.v65-product-addToCart fieldset {
    padding: 10px;
}

.cart fieldset {
    max-width: 120px;
    padding-top: 10px;
}

@media only screen and (max-width: 47.999em) {
  .logo {
    text-align: center;
    display: block;
  }
  
  .footer-legal {
    text-align: center;
  }
  
  .page-footer .link-list {
    text-align: center;
    
    & li,
    & li a {
        float: none;
    display: inline;
    }
  }

  .cart-header .checkout {
    display: none;
  }
  
  .cart td {
    padding: 3px;
    word-wrap: break-word;
  } 
  
  .cart tr td:nth-child(4),
  .cart tr:nth-child(1) .center,
  .cart tr td:nth-child(2),
  .cart tr:nth-child(1) .right {
    display: none;
  }
  
  .cart tr:nth-child(1) td:nth-child(4),
  .cart tr:nth-child(1) td:nth-child(2) {
    display: inherit;
  }
}


/* Product */

  .v65-addToCart {
    & .v65-product-addToCart-priceWrapper div,
    & .v65-product-addToCart-priceWrapper,
    & input,
    & .v65-product-addToCart-button {
      display: inline;
      margin-right: .5em;
    }
  }
  
  .v65-product-leftCol {
        margin-right: 0;
    }